<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="/" class="nav-link active"><i class="fe fe-home"></i> Página Inicial</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-user"></i> Cadastro</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/cadastro_setores" class="dropdown-item ">Setores</a>
                            <a href="/cadastro_equipes" class="dropdown-item ">Equipes</a>
                            <a href="/cadastro_fornecedores" class="dropdown-item ">Fornecedores</a>
                            <a href="/cadastro_dpo" class="dropdown-item ">DPO</a>
                            <a href="/cadastro_empresa" class="dropdown-item ">Dados da Empresa</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-file-text"></i> Auditoria</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/dados_previos" class="dropdown-item ">Dados Prévios</a>
                            <a href="/itens_auditaveis" class="dropdown-item ">Items Auditáveis</a>
                            <!--<a href="/fator_de_risco" class="dropdown-item ">Fator de Risco</a>-->
                            <!--<a href="/relatorio" class="dropdown-item ">Relatório</a>-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/mapeamento" class="nav-link"><i class="fe fe-file"></i>Mapeamento</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/documentos" class="nav-link"><i class="fe fe-check-square"></i> Documentos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/treinamento" class="nav-link"><i class="fe fe-book"></i> Treinamento</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>