{% extends "layouts/base-fullscreen.html" %} {% block title %} Login {% endblock %} {% block content %}

<div class="row">
    <div class="col col-login mx-auto">
        <div class="text-center mb-6">
            <img src="/static/assets/demo/brand/tabler.svg" class="h-6" alt="">
        </div>

        <form class="card" action="" method="post">

            {% csrf_token %}

            <div class="card-body p-6">

                <div class="card-title text-center">

                    {% if msg %} {{ msg | safe }} {% else %} Preencha seus Dados:
                    <br />ou <a href={% url 'register' %}>Registre-se</a> {% endif %}

                </div>

                <div class="form-group">
                    <label class="form-label">Usuário</label> {{ form.username }}
                </div>

                <br />

                <div class="form-group">
                    <label class="form-label">
              Senha
            </label> {{ form.password }}
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <span class="custom-control-label">Lembrar-me</span>
            </label>
                </div>
                <div class="form-footer">
                    <button type="submit" name="login" class="btn btn-primary btn-block">Login</button>
                </div>
            </div>
        </form>

        <div class="text-center text-muted">
            &copy; Codecalm -
            <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-tabler">Django Dashboard Tabler</a>
            <br /> Coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}