{% extends "layouts/base.html" %} {% block title %} Cadastro {% endblock %} {% block content %}

<div class="my-3 my-md-5">
    <div class="container">

        <div class="page-header">
            <h1 class="page-title">
                Informações da Empresa
            </h1>
        </div>
        <fieldset class="form-fieldset">
            <div class="form-group">
                <label class="form-label">Nome Fantasia<span class="form-required">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">CNPJ<span class="form-required">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Endereço</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Cidade</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">CEP</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Telefone</label>
                <input type="text" name="field-name" class="form-control" data-mask="(00)00000-0000" data-mask-clearifnotmatch="true" placeholder="(00) 00000-0000" autocomplete="off" maxlength="15">
            </div>
            <div class="form-group mb-0 text-right">
                <br>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
    </div>
    </fieldset>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}