{% extends "layouts/base.html" %} {% block title %} Cadastro de Setores {% endblock %} {% block content %}

<div class="my-3 my-md-5">
    <div class="container">

        <div class="page-header">
            <h1 class="page-title">
                Dados da Empresa
            </h1>
        </div>
        <form name="form" id="form" action="/create/" method="post">
            <fieldset class="form-fieldset ">
                {% csrf_token %}
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome da Empresa</th>
                                <th scope="col">CNPJ</th>
                                <th scope="col">Endereço</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">CEP</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbs in db %}
                            <tr>
                                <th scope="row">{{dbs.id}}</th>
                                <td>{{dbs.nome_fantasia_empresa}}</td>
                                <td>{{dbs.cnpj_empresa}}</td>
                                <td>{{dbs.endereco_empresa}}</td>
                                <td>{{dbs.cidade_empgresa}}</td>
                                <td>{{dbs.cep_empresa}}</td>
                                <td>{{dbs.estado_empresa}}</td>
                                <td>{{dbs.telefone_empresa}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}