{% extends "layouts/base.html" %} {% block title %} Cadasrto de Fornecedores {% endblock %} {% block content %}

<div class="my-3 my-md-5">
    <div class="container">

        <div class="page-header">
            <h1 class="page-title">
                Cadastro de Fornecedores
            </h1>
        </div>
        <form name="form" id="form" action="/create/" method="post">
            <fieldset class="form-fieldset ">
                {% csrf_token %}
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fornecedor</th>
                                <th scope="col">CNPJ</th>
                                <th scope="col">DPO</th>
                                <th scope="col">Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbs in db %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{dbs.fornecedor}}</td>
                                <td>{{dbs.cnpj}}</td>
                                <td>{{dbs.dpo}}</td>
                                <td>{{dbs.telefone}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
            </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}