{% extends "layouts/base.html" %} {% block title %} Cadastro de Setores {% endblock %} {% block content %}
<div class="my-3 my-md-5">
    <div class="container">

        <div class="page-header">
            <h1 class="page-title">
                Setores
            </h1>
        </div>
        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="/cadastrar_setor" class="btn btn-success">Adicionar</a>
        </div>
        <form name="form" id="form" action="/create_setor/" method="post">
            <fieldset class="form-fieldset ">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Responsável</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbs in db %}
                            <tr>
                                <th scope="row">{{dbs.id}}</th>
                                <td>{{dbs.setor_nome}}</td>
                                <td>{{dbs.contato_setor}}</td>
                                <td>{{dbs.resposavel_setor}}</td>
                                <td>{{dbs.cargo_setor}}</td>
                                <td>

                                    <a href="/edit_setor/{{dbs.id}}/" class="btn btn-dark ">Editar</a>
                                    <a href="/delete_setor/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--<nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>-->
            </fieldset>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->

{% block javascripts %} {% load static %}
<script src="{% static 'assets/js/javascript.js' %}"></script>{% endblock javascripts %}