{% extends "layouts/base.html" %} {% block title %} Documentos {% endblock %} {% block content %}

<div class="my-3 my-md-5">
    <div class="container">

        <div class="page-header">
            <h1 class="page-title">
                Documentos
            </h1>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Ação</th>
                        </tr>
                        <tr>
                            <td scope="row">Relatório Impacto e Proteção de Dados</td>
                            <td>
                                <a href="#" class="btn btn-outline-dark w-30 ">Baixar</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Relatório Auditoria</td>
                            <td>
                                <a href="#" class="btn btn-outline-dark w-30 ">Baixar</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Relatório de Risco</td>
                            <td>
                                <a href="#" class="btn btn-outline-dark w-30 ">Baixar</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Declaração de Compliance</td>
                            <td>
                                <a href="#" class="btn btn-outline-dark w-30 ">Baixar</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Termo de Consentimento</td>
                            <td>
                                <a href="#" class="btn btn-outline-dark w-30 ">Baixar</a>
                            </td>
                        </tr>

                    </thead>
                </table>
                </fieldset>
            </div>
            </form>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}