{% extends "layouts/base.html" %} {% block title %} Mapeamento {% endblock %} {% block content %}


<div class="my-3 my-md-5">
    <div class="container">

        <div class="page-header">
            <h1 class="page-title">
                Mapeamento
            </h1>
        </div>

        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="/cadastrar_mapeamento" class="btn btn-success">Adicionar</a>
        </div>

        <form name="form" id="form" action="/create/" method="post">
            <fieldset class="form-fieldset ">
                {% csrf_token %}
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Dado</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Fonte</th>
                                <th scope="col">Base Legal</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbs in db %}
                            <tr>
                                <th scope="row">{{dbs.id}}</th>
                                <td>{{dbs.dado}}</td>
                                <td>{{dbs.tipo}}</td>
                                <td>{{dbs.fonte}}</td>
                                <td>{{dbs.base_legal}}</td>
                                <td>
                                    <a href="/edit_mapeamento/{{dbs.id}}/" class="btn btn-dark ">Editar</a>
                                    <a href="/delete_mapeamento/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}