{% extends "layouts/base.html" %}

{% block title %} Pricing Cards {% endblock %} 

{% block content %}

    <div class="my-3 my-md-5">
        <div class="container">
          <div class="page-header">
            <h1 class="page-title">
              Pricing cards
            </h1>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card">
                <div class="card-body text-center">
                  <div class="card-category">Free</div>
                  <div class="display-3 my-4">$0</div>
                  <ul class="list-unstyled leading-loose">
                    <li><strong>3</strong> Users</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Sharing Tools</li>
                    <li><i class="fe fe-x text-danger mr-2" aria-hidden="true"></i> Design Tools</li>
                    <li><i class="fe fe-x text-danger mr-2" aria-hidden="true"></i> Private Messages</li>
                    <li><i class="fe fe-x text-danger mr-2" aria-hidden="true"></i> Twitter API</li>
                  </ul>
                  <div class="text-center mt-6">
                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card">
                <div class="card-status bg-green"></div>
                <div class="card-body text-center">
                  <div class="card-category">Premium</div>
                  <div class="display-3 my-4">$49</div>
                  <ul class="list-unstyled leading-loose">
                    <li><strong>10</strong> Users</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Sharing Tools</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Design Tools</li>
                    <li><i class="fe fe-x text-danger mr-2" aria-hidden="true"></i> Private Messages</li>
                    <li><i class="fe fe-x text-danger mr-2" aria-hidden="true"></i> Twitter API</li>
                  </ul>
                  <div class="text-center mt-6">
                    <a href="#" class="btn btn-green btn-block">Choose plan</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card">
                <div class="card-body text-center">
                  <div class="card-category">Enterprise</div>
                  <div class="display-3 my-4">$99</div>
                  <ul class="list-unstyled leading-loose">
                    <li><strong>100</strong> Users</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Sharing Tools</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Design Tools</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Private Messages</li>
                    <li><i class="fe fe-x text-danger mr-2" aria-hidden="true"></i> Twitter API</li>
                  </ul>
                  <div class="text-center mt-6">
                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card">
                <div class="card-body text-center">
                  <div class="card-category">Unlimited</div>
                  <div class="display-3 my-4">$139</div>
                  <ul class="list-unstyled leading-loose">
                    <li><strong>Unlimited</strong> Users</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Sharing Tools</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Design Tools</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Private Messages</li>
                    <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i> Twitter API</li>
                  </ul>
                  <div class="text-center mt-6">
                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
