{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

{% block content %}

    <div class="my-3 my-md-5">
        <div class="container">

            <div class="page-header">
                <h1 class="page-title">
                Cards
                </h1>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">This is a standard card</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                    <div class="card-footer">
                    This is standard card footer
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Built card</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-blue"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card blue</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card green</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-orange"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card orange</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-red"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card red</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-yellow"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card yellow</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-teal"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card teal</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-purple"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card purple</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status card-status-left bg-blue"></div>
                    <div class="card-header">
                    <h3 class="card-title">Card status on left side</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card card-collapsed">
                    <div class="card-header">
                    <h3 class="card-title">Initial collapsed card</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">With additional fullscreen button</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Panel with custom buttons</h3>
                    <div class="card-options">
                        <a href="#" class="btn btn-primary btn-sm">Action 1</a>
                        <a href="#" class="btn btn-secondary btn-sm ml-2">Action 2</a>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Card with search form</h3>
                    <div class="card-options">
                        <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Search something..." name="s">
                            <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-default" type="submit">
                                <span class="fe fe-search"></span>
                            </button>
                            </span>
                        </div>
                        </form>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Card with alert</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-alert alert alert-success mb-0">
                    Adding action was successful
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Card with alert</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-alert alert alert-danger mb-0">
                    Adding action failed
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Card with switch</h3>
                    <div class="card-options">
                        <label class="custom-switch m-0">
                        <input type="checkbox" value="1" class="custom-switch-input" checked>
                        <span class="custom-switch-indicator"></span>
                        </label>
                    </div>
                    </div>
                    <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Card with loader</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                    </div>
                    <div class="card-body">
                    <div class="dimmer active">
                        <div class="loader"></div>
                        <div class="dimmer-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
