{% extends "layouts/base.html" %}

{% block title %} UI Store {% endblock %} 

{% block content %}

    <div class="my-3 my-md-5">
        <div class="container">
          <div class="page-header">
            <h1 class="page-title">
              Store components
            </h1>
          </div>
          <div class="row row-cards">
            <div class="col-lg-3">
              <div class="row">
                <div class="col-md-6 col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-4 text-center">
                        <img src="/static/assets/demo/products/apple-iphone7-special.jpg" alt="Apple iPhone 7 128GB" class="img-fluid">
                      </div>
                      <h4 class="card-title"><a href="javascript:void(0)">Apple iPhone 7 Plus 256GB Red Special Edition</a></h4>
                      <div class="card-subtitle">
                        Apple
                      </div>
                      <div class="mt-5 d-flex align-items-center">
                        <div class="product-price">
                          <strong>$499</strong>
                        </div>
                        <div class="ml-auto">
                          <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> Add to cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-4 text-center">
                        <img src="/static/assets/demo/products/gopro-hero.jpg" alt="Apple iPhone 7 128GB" class="img-fluid">
                      </div>
                      <h4 class="card-title"><a href="javascript:void(0)">GoPro HERO6 Black</a></h4>
                      <div class="card-subtitle">
                        GoPro
                      </div>
                      <div class="mt-5 d-flex align-items-center">
                        <div class="product-price">
                          <strong>$599</strong>
                        </div>
                        <div class="ml-auto">
                          <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> Add to cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="card">
                <table class="table card-table table-vcenter">
                  <tr>
                    <td><img src="/static/assets/demo/products/apple-iphone7-special.jpg" alt="" class="h-8"></td>
                    <td>
                      Apple iPhone 7 Plus 256GB Red Special Edition
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">98 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">38 offers</td>
                    <td class="text-right">
                      <strong>$499</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/apple-macbook-pro.jpg" alt="" class="h-8"></td>
                    <td>
                      Apple MacBook Pro i7 3,1GHz/16/512/Radeon 560 Space Gray
                      <div class="badge badge-default badge-md">New</div>
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">97 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">13 offers</td>
                    <td class="text-right">
                      <strong>$1499</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/apple-iphone7.jpg" alt="" class="h-8"></td>
                    <td>
                      Apple iPhone 7 32GB Jet Black
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">48 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">38 offers</td>
                    <td class="text-right">
                      <strong>$499</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/gopro-hero.jpg" alt="" class="h-8"></td>
                    <td>
                      GoPro HERO6 Black
                      <div class="badge badge-default badge-md">New</div>
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">66 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">47 offers</td>
                    <td class="text-right">
                      <strong>$599</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/msi.jpg" alt="" class="h-8"></td>
                    <td>
                      MSI GV62 i5-7300HQ/8GB/1TB/Win10X GTX1050
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">59 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">26 offers</td>
                    <td class="text-right">
                      <strong>$1599</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/xiaomi-mi.jpg" alt="" class="h-8"></td>
                    <td>
                      Xiaomi Mi A1 64GB Black
                      <div class="badge badge-default badge-md">New</div>
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">63 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">43 offers</td>
                    <td class="text-right">
                      <strong>$269</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/huawei-mate.jpg" alt="" class="h-8"></td>
                    <td>
                      Huawei Mate 10 Pro Dual SIM Gray
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">71 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">12 offers</td>
                    <td class="text-right">
                      <strong>$999</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/sony-kd.jpg" alt="" class="h-8"></td>
                    <td>
                      Sony KD-49XE7005
                      <div class="badge badge-default badge-md">New</div>
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">54 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">14 offers</td>
                    <td class="text-right">
                      <strong>$799</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="/static/assets/demo/products/samsung-galaxy.jpg" alt="" class="h-8"></td>
                    <td>
                      Samsung Galaxy A5 A520F 2017 LTE Black Sky
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">37 reviews</td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">40 offers</td>
                    <td class="text-right">
                      <strong>$399</strong>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
